<div class="container">
  <form action="/" method="GET">     
     <h1>리스트입니다.</h1>
    방금 적은 이름은 <%= @orange %>이고 <br>
    방금 적은 내용은 <%= @apple %>이며, <br>
    당신의 번호는 [<%= @mynum %>] 입니다.<br>
    <button type="submit" class="btn btn-default">메인으로</button>
    <br><br><br><br>
    <%= @every_post.each do |p| %>
        <p>제목 : <%= p.title %></p>
        <p>내용 : <%= p.content %></p>
        <p>이번주 행운의 번호 : <%= p.num %></p>
        <!--<p>작성시간 : <%#= p.created_at %></p>-->
        <hr>
    <% end %>
    
    
  </form>
</div>
